body{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    align-items: stretch;
}

#header{
    background-color: plum;
    display: flex;
    height: 100px;
    align-items: center;
    flex: auto;
}

.title{
    flex: auto;
    font-size: 50px;
    padding-left: 10px;
}

button{
    width: 500px;
    height: 200px;
    flex: auto;
    align-self: center;
    font-size: 50px;
    margin-top: 20px;
    border-radius: 5px;
}

#food{
    font-size: 20px;
}